* {
    font-family: 微軟正黑體;
    position: relative;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }
  
  body {
    padding: 15px;
    .card{
        position: absolute;
        padding: 20px 30px;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        background-color: #fff;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        letter-spacing: 1px;
        color: #555;
    }
    h2 {
        margin-bottom: 45px;
        border: solid 1px white;
        box-sizing: border-box;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
      }
      
      hr {
        margin-top: -15px;
        margin-bottom: -5px;
      }
  }